// Containers
$container-max-widths: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px
);

// Colors
$brand-orange:#BC2C1A;
$brand-blue:#18273A;
$brand-light-blue:#748CAB;
$brand-grey:#eaf0f7;
$brand-dark-grey:#333;

// Responsive breakpoints
$breakpoint-sm: map.get($container-max-widths, "sm");
$breakpoint-md: map.get($container-max-widths, "md");
$breakpoint-lg: map.get($container-max-widths, "lg");
$breakpoint-xl: map.get($container-max-widths, "xl");
$breakpoint-xxl: map.get($container-max-widths, "xxl");